.flexParent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  background-color: #151515;
  color: white;
}
.flexContainer {
  /* height: 100%; */
  background-color: #36454f;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid grey;
  border-radius: 10%;
  width: 500px;
}

.flexContainer > a,
div {
  margin: 10px 0px;
}
/* .row {
  width: auto;
  border: 1px solid blue;
} */
.flexItem {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #848384;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  /* margin: auto; */

  &:hover {
    background-color: #c0e74d;
    color: black;
  }
}

.image {
  width: 100px; /* Adjust width and height as needed */
  height: 100px;
  border-radius: 50%; /* Makes the element a circle */
  border: 3px solid black; /* Border style */
  object-fit: cover;
}
.mainHeading {
  font-size: 20px;
  font-weight: 500;
  /* color: white; */
}

.subHeading {
  font-size: 10px;
}
.greenText {
  color: green;
}

.intro {
  text-align: center;
}

a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}
