.flexParent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
}
.flexContainer {
  /* height: 100%; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  width: 500px;
}

.flexContainer > div {
  margin: 10px 0px;
}

.flexItem {
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}
